# Concept of shifting and Lagging

In [11]:
# Let us first download the Facebook [ticker: FB] daily stock prices from yahoo Finance
# Load the data. We are interested only in Closing Stock prices listed under the column 'Close'. 
import pandas as pd
df = pd.read_csv("FB.csv")
print(df)

          Date        Open        High         Low       Close   Adj Close  \
0   2019-01-02  128.990005  137.509995  128.559998  135.679993  135.679993
1   2019-01-03  134.690002  137.169998  131.119995  131.740005  131.740005
2   2019-01-04  134.009995  138.000000  133.750000  137.949997  137.949997
3   2019-01-07  137.559998  138.869995  135.910004  138.050003  138.050003
4   2019-01-08  139.889999  143.139999  139.539993  142.529999  142.529999
5   2019-01-09  142.949997  144.699997  141.270004  144.229996  144.229996
6   2019-01-10  143.080002  144.559998  140.839996  144.199997  144.199997
7   2019-01-11  143.149994  145.360001  142.570007  143.800003  143.800003
8   2019-01-14  142.000000  146.570007  141.270004  145.389999  145.389999
9   2019-01-15  146.009995  150.679993  145.990005  148.949997  148.949997
10  2019-01-16  149.000000  149.649994  147.000000  147.539993  147.539993
11  2019-01-17  146.949997  149.000000  146.500000  148.300003  148.300003

      Volume
0   28146200
1   22717900
2   29002100
3   20089300
4   26263800
5   22205900
6   16125000
7   12908000
8   20520300
9   24069000
10  18025700
11  15511600

In [15]:
# Reload the data, this time parsing the date and making it the index column[row label]
df = pd.read_csv('FB.csv', parse_dates=['Date'], index_col='Date')
print(df)

                  Open        High         Low       Close   Adj Close  \
Date
2019-01-02  128.990005  137.509995  128.559998  135.679993  135.679993
2019-01-03  134.690002  137.169998  131.119995  131.740005  131.740005
2019-01-04  134.009995  138.000000  133.750000  137.949997  137.949997
2019-01-07  137.559998  138.869995  135.910004  138.050003  138.050003
2019-01-08  139.889999  143.139999  139.539993  142.529999  142.529999
2019-01-09  142.949997  144.699997  141.270004  144.229996  144.229996
2019-01-10  143.080002  144.559998  140.839996  144.199997  144.199997
2019-01-11  143.149994  145.360001  142.570007  143.800003  143.800003
2019-01-14  142.000000  146.570007  141.270004  145.389999  145.389999
2019-01-15  146.009995  150.679993  145.990005  148.949997  148.949997
2019-01-16  149.000000  149.649994  147.000000  147.539993  147.539993
2019-01-17  146.949997  149.000000  146.500000  148.300003  148.300003

              Volume
Date
2019-01-02  28146200
2019-01-03  22717900
2019-01-04  29002100
2019-01-07  20089300
2019-01-08  26263800
2019-01-09  22205900
2019-01-10  16125000
2019-01-11  12908000
2019-01-14  20520300
2019-01-15  24069000
2019-01-16  18025700
2019-01-17  15511600

# Shifting the price by one day (ahead)

In [4]:
df.shift(1)     

# Inference: The stock price on Jan 02, 2019 got assigned to Jan 03, 2019 and so on...

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-03,128.990005,137.509995,128.559998,135.679993,135.679993,28146200.0
2019-01-04,134.690002,137.169998,131.119995,131.740005,131.740005,22717900.0
2019-01-07,134.009995,138.000000,133.750000,137.949997,137.949997,29002100.0
2019-01-08,137.559998,138.869995,135.910004,138.050003,138.050003,20089300.0
2019-01-09,139.889999,143.139999,139.539993,142.529999,142.529999,26263800.0
2019-01-10,142.949997,144.699997,141.270004,144.229996,144.229996,22205900.0
2019-01-11,143.080002,144.559998,140.839996,144.199997,144.199997,16125000.0
2019-01-14,143.149994,145.360001,142.570007,143.800003,143.800003,12908000.0
2019-01-15,142.000000,146.570007,141.270004,145.389999,145.389999,20520300.0
2019-01-16,146.009995,150.679993,145.990005,148.949997,148.949997,24069000.0
2019-01-17,149.000000,149.649994,147.000000,147.539993,147.539993,18025700.0

# Shifting the stock price by 2 days (ahead)

In [5]:
df.shift(2)

# Inference: The stock price on Jan 02, 2019 got assigned to Jan 04, 2019 and so on...

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-03,NaN,NaN,NaN,NaN,NaN,NaN
2019-01-04,128.990005,137.509995,128.559998,135.679993,135.679993,28146200.0
2019-01-07,134.690002,137.169998,131.119995,131.740005,131.740005,22717900.0
2019-01-08,134.009995,138.000000,133.750000,137.949997,137.949997,29002100.0
2019-01-09,137.559998,138.869995,135.910004,138.050003,138.050003,20089300.0
2019-01-10,139.889999,143.139999,139.539993,142.529999,142.529999,26263800.0
2019-01-11,142.949997,144.699997,141.270004,144.229996,144.229996,22205900.0
2019-01-14,143.080002,144.559998,140.839996,144.199997,144.199997,16125000.0
2019-01-15,143.149994,145.360001,142.570007,143.800003,143.800003,12908000.0
2019-01-16,142.000000,146.570007,141.270004,145.389999,145.389999,20520300.0
2019-01-17,146.009995,150.679993,145.990005,148.949997,148.949997,24069000.0

# Shifting the stock price, 1 day prior

In [6]:
df.shift(-1)
# Inference: The stock price on Jan 02, 2019 got assigned by Jan 03, 2019 stock prices and so on...
#            The stock market was closed on Jan 01, 2019.

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-01-02,134.690002,137.169998,131.119995,131.740005,131.740005,22717900.0
2019-01-03,134.009995,138.000000,133.750000,137.949997,137.949997,29002100.0
2019-01-04,137.559998,138.869995,135.910004,138.050003,138.050003,20089300.0
2019-01-07,139.889999,143.139999,139.539993,142.529999,142.529999,26263800.0
2019-01-08,142.949997,144.699997,141.270004,144.229996,144.229996,22205900.0
2019-01-09,143.080002,144.559998,140.839996,144.199997,144.199997,16125000.0
2019-01-10,143.149994,145.360001,142.570007,143.800003,143.800003,12908000.0
2019-01-11,142.000000,146.570007,141.270004,145.389999,145.389999,20520300.0
2019-01-14,146.009995,150.679993,145.990005,148.949997,148.949997,24069000.0
2019-01-15,149.000000,149.649994,147.000000,147.539993,147.539993,18025700.0
2019-01-16,146.949997,149.000000,146.500000,148.300003,148.300003,15511600.0
2019-01-17,NaN,NaN,NaN,NaN,NaN,NaN

# Why shifting?
### One common use of shifting in Financial Analysis, is to calculate the % change in the stock prices in 1 day.

In [16]:
# First lets get rid of other columns, which are of no use to us
df = df.drop(['Open','High','Low','Adj Close','Volume'], axis=1)
print(df)

                 Close
Date
2019-01-02  135.679993
2019-01-03  131.740005
2019-01-04  137.949997
2019-01-07  138.050003
2019-01-08  142.529999
2019-01-09  144.229996
2019-01-10  144.199997
2019-01-11  143.800003
2019-01-14  145.389999
2019-01-15  148.949997
2019-01-16  147.539993
2019-01-17  148.300003

In [17]:
# Lets demonstrate the practical use of data shifting
# Lets create a new column which carries stock close prices of a day ahead (+ve shift 1)
df['Previous Day Close Price'] = df.Close.shift(1)
print(df)

# Observe that the Close stock value of Jan 02, 2019 has been assigned to Jan 03, 2019 and so on...

                 Close  Previous Day Close Price
Date
2019-01-02  135.679993                       NaN
2019-01-03  131.740005                135.679993
2019-01-04  137.949997                131.740005
2019-01-07  138.050003                137.949997
2019-01-08  142.529999                138.050003
2019-01-09  144.229996                142.529999
2019-01-10  144.199997                144.229996
2019-01-11  143.800003                144.199997
2019-01-14  145.389999                143.800003
2019-01-15  148.949997                145.389999
2019-01-16  147.539993                148.949997
2019-01-17  148.300003                147.539993

In [20]:
# Lets compute the price change in 1 day
df["1 day Price Change"] = df['Close'] - df['Previous Day Close Price']
df

                 Close  Previous Day Close Price  1 day Price Change
Date
2019-01-02  135.679993                       NaN                 NaN
2019-01-03  131.740005                135.679993           -3.939988
2019-01-04  137.949997                131.740005            6.209992
2019-01-07  138.050003                137.949997            0.100006
2019-01-08  142.529999                138.050003            4.479996
2019-01-09  144.229996                142.529999            1.699997
2019-01-10  144.199997                144.229996           -0.029999
2019-01-11  143.800003                144.199997           -0.399994
2019-01-14  145.389999                143.800003            1.589996
2019-01-15  148.949997                145.389999            3.559998
2019-01-16  147.539993                148.949997           -1.410004
2019-01-17  148.300003                147.539993            0.760010

In [25]:
# Computing 5 day % return
# % change = ((New Num - Original Num)/(Original Num)) * 100
df['5 day % return'] = (df['Close'] - df['Close'].shift(5))*100/df['Close'].shift(5)
df

# Observe that the column '5 day % return' has few NaN values as there were no previous 5 day entries.

,Close,Previous Day Close Price,1 day Price Change,5 day % return
Date,,,,
2019-01-02,135.679993,NaN,NaN,NaN
2019-01-03,131.740005,135.679993,-3.939988,NaN
2019-01-04,137.949997,131.740005,6.209992,NaN
2019-01-07,138.050003,137.949997,0.100006,NaN
2019-01-08,142.529999,138.050003,4.479996,NaN
2019-01-09,144.229996,142.529999,1.699997,6.301595
2019-01-10,144.199997,144.229996,-0.029999,9.458017
2019-01-11,143.800003,144.199997,-0.399994,4.240671
2019-01-14,145.389999,143.800003,1.589996,5.316911
2019-01-15,148.949997,145.389999,3.559998,4.504314
2019-01-16,147.539993,148.949997,-1.410004,2.294944
2019-01-17,148.300003,147.539993,0.760010,2.843277

# Concept of Shifting dates
### Uptil now, we have focussed on shifting the data i.e. Stock Close price. How about adjusting the dates?

In [29]:
# First lets bring our data frame back to its original form - Get rid of all ancilliary columns
df = df[['Close']]                                           
print(df)

# Check the index
df.index             # Observe that the frequency of this Index is None
                     # For shifting the dates, we need to change this freq from None.

                 Close
Date
2019-01-02  135.679993
2019-01-03  131.740005
2019-01-04  137.949997
2019-01-07  138.050003
2019-01-08  142.529999
2019-01-09  144.229996
2019-01-10  144.199997
2019-01-11  143.800003
2019-01-14  145.389999
2019-01-15  148.949997
2019-01-16  147.539993
2019-01-17  148.300003

DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15', '2019-01-16', '2019-01-17'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [36]:
# Reassign the freq. 
# This is stock price data. The frequency is 'B' i.e. Business Days Only as stock markets are closed over the weekend. 
df.index = pd.date_range(start='01/02/2019', periods=12, freq='B')
print(df)                                # Data Frame looks the same
print(df.index)                          # Observe - Now the frequency is 'B'

                 Close
2019-01-02  135.679993
2019-01-03  131.740005
2019-01-04  137.949997
2019-01-07  138.050003
2019-01-08  142.529999
2019-01-09  144.229996
2019-01-10  144.199997
2019-01-11  143.800003
2019-01-14  145.389999
2019-01-15  148.949997
2019-01-16  147.539993
2019-01-17  148.300003
DatetimeIndex(['2019-01-02', '2019-01-03', '2019-01-04', '2019-01-07',
               '2019-01-08', '2019-01-09', '2019-01-10', '2019-01-11',
               '2019-01-14', '2019-01-15', '2019-01-16', '2019-01-17'],
              dtype='datetime64[ns]', freq='B')

In [39]:
# Lets shift the dates by 1 (ahead)
df.tshift(1)                    

# Observe that close stock price of 135.679993 which was earlier assigned to Jan 02, 2019 has now been assigned to Jan 03, 2019. 
# The freq 'B' is maintained.

                 Close
2019-01-03  135.679993
2019-01-04  131.740005
2019-01-07  137.949997
2019-01-08  138.050003
2019-01-09  142.529999
2019-01-10  144.229996
2019-01-11  144.199997
2019-01-14  143.800003
2019-01-15  145.389999
2019-01-16  148.949997
2019-01-17  147.539993
2019-01-18  148.300003

In [41]:
# Lets shift the date with 1 day lag
df.tshift(-1)         

# Observe that, however the rule of the stock market being closed on Jan 01, 2019 is not followed.

                 Close
2019-01-01  135.679993
2019-01-02  131.740005
2019-01-03  137.949997
2019-01-04  138.050003
2019-01-07  142.529999
2019-01-08  144.229996
2019-01-09  144.199997
2019-01-10  143.800003
2019-01-11  145.389999
2019-01-14  148.949997
2019-01-15  147.539993
2019-01-16  148.300003